{% set dlist = domainname.split('.') %}
$TTL 3600
@ SOA ns.{{ domainname }}. root.{{ domainname }}. (1 15m 5m 30d 1h)
        IN    NS    {{ dlist[1] }}
        IN    A     1.1.1.1


lb         IN    A    {{ loadbalancer_ip }}
api         IN    A    {{ loadbalancer_ip }}
api-int         IN    A    {{ loadbalancer_ip }}
*.apps          IN    A    {{ loadbalancer_ip }}

{% for item in masters_api_ip_list %}
master{{ loop.index }} IN  A  {{ item }}
etcd-{{ loop.index0 }} IN  A {{ item }}
{% endfor %}


{% for item in workers_api_ip_list %}
worker{{ loop.index }}  IN  A {{ item }}
{% endfor %}

{{ dlist[1] }}    IN    A    {{ loadbalancer_ip }}

_etcd-server-ssl._tcp  SRV 0 10 2380 etcd-0
                       SRV 0 10 2380 etcd-1
                       SRV 0 10 2380 etcd-2