$ORIGIN    {{ rarpa_str }}.
$TTL    604800
@    IN    SOA    ns.{{ domainname }}. root.{{ domainname }}. (
        1576202977        ; Serial
        604800        ; Refresh
        86400        ; Retry
        2419200        ; Expire
        604800    )    ; Negative Cache TTL
;
@        IN    NS    .
;
{% for item in masters_api_ip_list %}
{{ item.split('.')[3] }} IN PTR  master{{ loop.index }}.{{ domainname }}.
{{ item.split('.')[3] }} IN PTR  etcd-{{ loop.index0 }}.{{ domainname }}.

{% endfor %}


{% for item in workers_api_ip_list %}
{{ item.split('.')[3] }} IN PTR  worker{{ loop.index }}.{{ domainname }}.

{% endfor %}